<% include link.ejs %>
<% include header.ejs %>
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1">
                <div class="navbar-header logo-text">
                    <a class="navbar-brand" href="/">
                        <img alt="logo" src="../images/logo.jpg"/>
                        <span class="h3">借贷商城</span>
                    </a>
                    <span class="h6 text-muted">P2P一站通</span>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 menu">
                <ul class="nav nav-pills h5" role="tablist">
                    <li role="presentation"><a href="/">首页</a></li>
                    <li role="presentation"><a href="invest">我要投资</a></li>
                    <li role="presentation"><a href="loan">我要贷款</a></li>
                    <li role="presentation"  class="active" class="visible-lg"><a href="company">行业新闻</a></li>
                </ul>
            </div>
            <div class="nav-img col-md-offset-9 visible-lg visible-md"></div>
        </div>
    </div>
</nav>
<div class="row bg-mall p10 c-eee">友情预告友情预告友情预告友情预告友情预告友情预告友情预告</div>
<div class="row bg-container">
    <div class="container-fluid">
        <div class="row">
            <div class="w82p m10-auto c-base f20"><img src="images/search.jpg">&nbsp;筛选行业平台</div>
            <div class="bg-search w82p m10-auto h-auto">
                <div class="row m20-30">
                    <div class="col-md-9 col-sm-9">
                        <div class="row mb10">
                            <div class="col-md-2 c-gray-b5">综合年化(日)</div>
                            <div class="col-md-1 label active-red active p5 f14 fwn" style="padding: 5px">不限</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">5%以下</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">5%-10%</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">10%-20%</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">20%以上</div>
                        </div>
                        <div class="row mb10">
                            <div class="col-md-2 c-gray-b5">成交金额(日)</div>
                            <div class="col-md-1 label active-red active p5 f14 fwn" style="padding: 5px">不限</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">1万以下</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">1万10成</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">10万100万</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">100万以下</div>
                        </div>
                        <div class="row mb10">
                            <div class="col-md-2 c-gray-b5">贷款人数(日)</div>
                            <div class="col-md-1 label active-red active p5 f14 fwn" style="padding: 5px">不限</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">10人以下</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">10-50人</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">50-100人</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">100人以上</div>
                        </div>
                        <div class="row mb10">
                            <div class="col-md-2 c-gray-b5">投资人数(日)</div>
                            <div class="col-md-1 label active-red active p5 f14 fwn" style="padding: 5px">不限</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">10人以下</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">10-50人</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">50-100人</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">100人以上</div>
                        </div>
                        <div class="row mb10">
                            <div class="col-md-2 c-gray-b5">平台资质</div>
                            <div class="col-md-1 label active-red active p5 f14 fwn" style="padding: 5px">不限</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">AAA</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">AA</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">A</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">无</div>
                        </div>
                        <div class="row mb10">
                            <div class="col-md-2 c-gray-b5">是否担保</div>
                            <div class="col-md-1 label active-red active p5 f14 fwn" style="padding: 5px">不限</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">有担保</div>
                            <div class="col-md-2 label active-red p5 f14 fwn c-gray-86">无担保</div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1"><img src="images/money1.jpg"> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="w82p m10-auto mb20">
                <ul class="nav nav-tabs bg-mall-shade" role="tablist">
                    <li class="active mt10 ml30"><a href="#company" role="tab" data-toggle="tab" class="c-eee">搜索结果</a></li>
                </ul>
                <div class="tab-content list-content bg-white">
                    <div class="tab-pane active" id="company">
                        <div class="row pt20">
                            <div class="bg-sort m20-30 h-auto" style="margin: 5px 40px">
                                <div class="col-md-2">
                                    <select class="form-control m8-5">
                                        <option>月供</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control m8-5">
                                        <option>总利息</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control m8-5">
                                        <option>利率</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row p25 pt10">
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="陆金所" src="../images/lufax.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>综合年化(日)：<span class="c-base">7%</span></p>
                                        <p>成交金额(日)：<span class="c-base">8,000,000</span></p>
                                        <p>贷款人数(日)：<span class="c-base">3,000</span></p>
                                        <p>投资人数(日)：<span class="c-base">4,000</span></p>
                                        <p>平台资质：<span class="c-orange">AAA</span></p>
                                        <p>是否担保：<span class="c-orange">有</span></p>
                                        <p class="text-center mt10"><a href="companyDetail" class="btn bg-mall c-eee w100" role="button">查看</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="人人贷" src="../images/renrendai.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>综合年化(日)：<span class="c-base">7%</span></p>
                                        <p>成交金额(日)：<span class="c-base">8,000,000</span></p>
                                        <p>贷款人数(日)：<span class="c-base">1,000</span></p>
                                        <p>投资人数(日)：<span class="c-base">1,000</span></p>
                                        <p>平台资质：<span class="c-orange">AA</span></p>
                                        <p>是否担保：<span class="c-orange">有</span></p>
                                        <p class="text-center mt10"><a href="companyDetail" class="btn bg-mall c-eee w100" role="button">查看</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="天天贷" src="../images/renrendai.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>综合年化(日)：<span class="c-base">7%</span></p>
                                        <p>成交金额(日)：<span class="c-base">8,000,000</span></p>
                                        <p>贷款人数(日)：<span class="c-base">3,000</span></p>
                                        <p>投资人数(日)：<span class="c-base">4,000</span></p>
                                        <p>平台资质：<span class="c-orange">AAA</span></p>
                                        <p>是否担保：<span class="c-orange">有</span></p>
                                        <p class="text-center mt10"><a href="companyDetail" class="btn bg-mall c-eee w100" role="button">查看</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="陆金所" src="../images/lufax.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>综合年化(日)：<span class="c-base">7%</span></p>
                                        <p>成交金额(日)：<span class="c-base">8,000,000</span></p>
                                        <p>贷款人数(日)：<span class="c-base">3,000</span></p>
                                        <p>投资人数(日)：<span class="c-base">4,000</span></p>
                                        <p>平台资质：<span class="c-orange">AAA</span></p>
                                        <p>是否担保：<span class="c-orange">有</span></p>
                                        <p class="text-center mt10"><a href="companyDetail" class="btn bg-mall c-eee w100" role="button">查看</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="人人贷" src="../images/renrendai.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>综合年化(日)：<span class="c-base">7%</span></p>
                                        <p>成交金额(日)：<span class="c-base">8,000,000</span></p>
                                        <p>贷款人数(日)：<span class="c-base">1,000</span></p>
                                        <p>投资人数(日)：<span class="c-base">1,000</span></p>
                                        <p>平台资质：<span class="c-orange">AA</span></p>
                                        <p>是否担保：<span class="c-orange">有</span></p>
                                        <p class="text-center mt10"><a href="companyDetail" class="btn bg-mall c-eee w100" role="button">查看</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="天天贷" src="../images/renrendai.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>综合年化(日)：<span class="c-base">7%</span></p>
                                        <p>成交金额(日)：<span class="c-base">8,000,000</span></p>
                                        <p>贷款人数(日)：<span class="c-base">3,000</span></p>
                                        <p>投资人数(日)：<span class="c-base">4,000</span></p>
                                        <p>平台资质：<span class="c-orange">AAA</span></p>
                                        <p>是否担保：<span class="c-orange">有</span></p>
                                        <p class="text-center mt10"><a href="companyDetail" class="btn bg-mall c-eee w100" role="button">查看</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
