<% include link.ejs %>
<% include header.ejs %>
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1">
                <div class="navbar-header logo-text">
                    <a class="navbar-brand" href="/">
                        <img alt="logo" src="../images/logo.jpg"/>
                        <span class="h3">借贷商城</span>
                    </a>
                    <span class="h6 text-muted">P2P一站通</span>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 menu">
                <ul class="nav nav-pills h5" role="tablist">
                    <li role="presentation"><a href="/">首页</a></li>
                    <li role="presentation"><a href="invest">我要投资</a></li>
                    <li role="presentation"><a href="loan">我要贷款</a></li>
                    <li role="presentation"  class="active" class="visible-lg"><a href="company">行业新闻</a></li>
                </ul>
            </div>
            <div class="nav-img col-md-offset-9 visible-lg visible-md"></div>
        </div>
    </div>
</nav>
<div class="row bg-container">
    <div class="container-fluid">
        <div class="row">
            <div class="w82p m10-auto c-base f20"><img src="images/search.jpg">&nbsp;筛选行业平台</div>
            <div class="bg-search w82p m10-auto h-auto">
                <div class="col-8 col-sm-8 col-lg-8 m20-30">
                    <div class="ui-filter fn-left" id="invest-list-filter">
                        <ul >
                            <li>
                                <ul class="ui-filter-category category fn-clear">
                                    <li class="ui-filter-title c-gray-b5">综合年化(日)</li>
                                    <li class="ui-filter-tag active-red  c-gray-70  all active">
                                        <input type="checkbox" name="investPlatform" value="all" checked="checked">
                                        <span>不限</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investPlatform" >
                                        <span>5%以下</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investPlatform" >
                                        <span>5%-10%</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investPlatform" >
                                        <span>10%-20%</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investPlatform" >
                                        <span>20%以上</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="mt4">
                                <ul class="ui-filter-category category fn-clear">
                                    <li class="ui-filter-title c-gray-b5">成交金额(日)</li>
                                    <li class="ui-filter-tag active-red  c-gray-70  all active">
                                        <input type="checkbox" name="investAmount" value="all" checked="checked">
                                        <span>不限</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investAmount" >
                                        <span>1万以下</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investAmountm" >
                                        <span>1万10成</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investAmount" >
                                        <span>10万100万</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investAmount" >
                                        <span>100万以下</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="mt4">
                                <ul class="ui-filter-category category fn-clear">
                                    <li class="ui-filter-title c-gray-b5">贷款人数(日)</li>
                                    <li class="ui-filter-tag active-red  c-gray-70  all active">
                                        <input type="checkbox" name="investTerm" value="all" checked="checked">
                                        <span>不限</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>10人以下</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>10-50人</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>50-100人</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>100人以上</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="mt4">
                                <ul class="ui-filter-category category fn-clear">
                                    <li class="ui-filter-title c-gray-b5">投资人数(日)</li>
                                    <li class="ui-filter-tag active-red  c-gray-70  all active">
                                        <input type="checkbox" name="investYield" value="all" checked="checked">
                                        <span>不限</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>10人以下</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>10-50人</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>50-100人</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>100人以上</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="mt4">
                                <ul class="ui-filter-category category fn-clear">
                                    <li class="ui-filter-title c-gray-b5">平台资质</li>
                                    <li class="ui-filter-tag active-red  c-gray-70  all active">
                                        <input type="checkbox" name="investYield" value="all" checked="checked">
                                        <span>不限</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>AAA</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>AA</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>A</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>无</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="mt4">
                                <ul class="ui-filter-category category fn-clear">
                                    <li class="ui-filter-title c-gray-b5">是否担保</li>
                                    <li class="ui-filter-tag active-red  c-gray-70  all active">
                                        <input type="checkbox" name="investYield" value="all" checked="checked">
                                        <span>不限</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>有担保</span>
                                    </li>
                                    <li class="ui-filter-tag active-red  c-gray-70 condition ">
                                        <input type="checkbox" name="investTerm" >
                                        <span>无担保</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="m20-30">-->
            </div>
        </div>
        <div class="row">
            <div class="w82p m10-auto mb20">
                <ul class="nav nav-tabs bg-mall-shade" role="tablist">
                    <li class="active mt10 ml30"><a href="#company" role="tab" data-toggle="tab" class="c-eee">搜索结果</a></li>
                </ul>
                <div class="tab-content list-content bg-white">
                    <div class="tab-pane active" id="company">
                        <div class="row p25">
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="陆金所" src="../images/lufax.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>富盈人生第14期</p>
                                        <p><span class="c-base f20">24</span>个月</p>
                                        <p>
                                            预期收益<span class="c-base f20">18%</span>
                                        </p>

                                        <p><span class="c-base f20">30,000</span>元</p>
                                        <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="人人贷" src="../images/renrendai.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>资金周转</p>
                                        <p><span class="c-base f20">18</span>个月</p>
                                        <p>
                                            预期收益<span class="c-base f20">13.2%</span>
                                        </p>

                                        <p><span class="c-base f20">10,000</span>元</p>
                                        <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="天天贷" src="../images/renrendai.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>月月盈</p>
                                        <p><span class="c-base f20">1</span>个月</p>
                                        <p>
                                            预期收益<span class="c-base f20">20%</span>
                                        </p>

                                        <p><span class="c-base f20">50,000</span>元</p>
                                        <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="陆金所" src="../images/lufax.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>富盈人生第14期</p>
                                        <p><span class="c-base f20">24</span>个月</p>
                                        <p>
                                            预期收益<span class="c-base f20">18%</span>
                                        </p>

                                        <p><span class="c-base f20">30,000</span>元</p>
                                        <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="人人贷" src="../images/renrendai.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>资金周转</p>
                                        <p><span class="c-base f20">18</span>个月</p>
                                        <p>
                                            预期收益<span class="c-base f20">13.2%</span>
                                        </p>

                                        <p><span class="c-base f20">10,000</span>元</p>
                                        <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl20 pr20 pt10 pb20">
                                <div class="thumbnail mb0">
                                    <div class="page-header m10 text-left">
                                        <img alt="天天贷" src="../images/renrendai.jpg">
                                    </div>
                                    <div class="c-aaa m15">
                                        <p>月月盈</p>
                                        <p><span class="c-base f20">1</span>个月</p>
                                        <p>
                                            预期收益<span class="c-base f20">20%</span>
                                        </p>

                                        <p><span class="c-base f20">50,000</span>元</p>
                                        <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
