<% include link.ejs %>
<% include header.ejs %>
<nav class="navbar mb5" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1">
                <div class="navbar-header logo-text">
                    <a class="navbar-brand" href="/">
                        <img alt="logo" src="../images/logo.jpg"/>
                        <span class="h3">借贷商城</span>
                    </a>
                    <span class="h6 text-muted">P2P一站通</span>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 menu">
                <ul class="nav nav-pills h5" role="tablist">
                    <li role="presentation"><a href="/">首页</a></li>
                    <li role="presentation"><a href="invest">我要投资</a></li>
                    <li role="presentation"><a href="loan">我要贷款</a></li>
                    <li role="presentation"  class="active" class="visible-lg"><a href="company">行业新闻</a></li>
                </ul>
            </div>
            <div class="nav-img col-md-offset-9 visible-lg visible-md"></div>
        </div>
    </div>
</nav>
<div class="row">
    <ol class="breadcrumb mb0 bg-container br0">
        <li><a href="#">行业新闻</a></li>
        <li class="active">微贷网</li>
    </ol>
</div>
<div class="row bg-container">
    <div class="container-fluid">
        <div class="row bg-company-shade">
            <div class="w82p m10-auto h-auto">
                <div class="row m20-30 ml0">
                    <div class="col-md-9 col-sm-9 lh25">
                        <div class="row c-green f25 mb10">微贷网</div>
                        <div class="row">注册资金：500万</div>
                        <div class="row">所在地区：浙江省杭州市</div>
                        <div class="row">上线时间：2011-07-08</div>
                        <div class="row">管理费用：贷款人收取借款2%以上;投资人收取信息的6%</div>
                        <div class="row">VIP年费：120元/年</div>
                        <div class="row">提取费用：2元每笔</div>
                        <div class="row">本金垫付：支付</div>
                    </div>
                    <div class="col-md-3 col-sm-3"><img src="images/money2.jpg" class="mt30"> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="w82p m10-auto mb20">
                <ul class="nav nav-tabs bg-mall-shade" role="tablist">
                    <li class="active mt10 ml30"><a href="#invest_amount_chart" role="tab" data-toggle="tab" class="c-eee">投资金额</a></li>
                    <li class="mt10"><a href="#invest_people_chart" role="tab" data-toggle="tab" class="c-eee">投资人数</a></li>
                </ul>
                <div class="tab-content list-content bg-white">
                    <div class="tab-pane active" id="invest_amount_chart">
                        <div class="row p25">
                            <img src="images/p.jpg" class="m10-auto" width="100%">
                        </div>
                    </div>
                    <div class="tab-pane" id="invest_people_chart">
                        <div class="row p25">
                            <img src="images/p.jpg">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="w82p m10-auto mb20">
                <ul class="nav nav-tabs bg-mall-shade" role="tablist">
                    <li class="active mt10 ml30"><a href="#intro" role="tab" data-toggle="tab" class="c-eee">平台介绍</a></li>
                </ul>
                <div class="tab-content list-content bg-white">
                    <div class="tab-pane active" id="intro">
                        <div class="row p20-40 c-gray-86 p-text">
                            <p>杭州锐拓科技有限公司旗下微贷网（www.weidai.com.cn）——专业的汽车抵押网络（P2P）借贷平台，旨在为有资金需求和投资需求的个人打造一个规范、安全、高效、诚信、专业的网络借贷中介平台。2013年起微贷网开始实施五年百店的战略计划，目前，微贷网除杭州总部外，在萧山、湖州、嘉兴、富阳、德清等地均设有营业部，并计划到2017年年底全国范围内覆盖100家营业部。</p>
                            <p>微贷网是由杭州锐拓科技有限公司（Hangzhou Rtsat Technology Co.,LTD，简称“锐拓”）于2010年筹备组建，2011年8月8日正式上线运营。锐拓科技成立于2006年，公司在杭州登记注册，现有全职员工近500人，是一家横跨金融、电信、电子商务、软件行业等多元化业务的高新技术企业。公司旗下包括：电信、银行、微贷网三大业务板块。公司发展至今销售服务网络遍布浙江、江苏、江西、山东、河南、湖北等20多个省市。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
