<div id="header" class="bg-mall">
    &nbsp;
    <br/>
</div>
<nav id="navigation" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar">
            <ul class="nav nav-pills">
                <li><a href="invest">我要投资</a></li>
                <li class="active"><a href="loan">我要贷款</a></li>
            </ul>
        </div>
    </div>
</nav>
<ol id="breadcrumb" class="breadcrumb">
    <li><a href="#">借贷商城</a></li>
    <li class="active"><a href="loan">我要贷款</a></li>
</ol>