<% include link.ejs %>
<% include header.ejs %>
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1">
                <div class="navbar-header logo-text">
                    <a class="navbar-brand" href="/">
                        <img alt="logo" src="../images/logo.jpg"/>
                        <span class="h3">借贷商城</span>
                    </a>
                    <span class="h6 text-muted">P2P一站通</span>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 menu">
                <ul class="nav nav-pills h5" role="tablist">
                    <li role="presentation"><a href="/">首页</a></li>
                    <li role="presentation"><a href="invest">我要投资</a></li>
                    <li role="presentation"><a href="loan">我要贷款</a></li>
                    <li role="presentation" class="visible-lg"><a href="loan">行业新闻</a></li>
                </ul>
            </div>
            <div class="nav-img col-md-offset-9 visible-lg visible-md">

            </div>
        </div>
    </div>
</nav>
<div class="row index-search-bg">
    <div class="container-fluid w82p p0 m20-auto">
        <div class="col-md-2 p0 f17">    
            <ul id="searchTab" class="nav nav-stacked text-center role="tablist">
                <li class="bg-mall active"><a href="#investSearch" role="tab" data-toggle="tab" >搜投资</a></li>
                <li class="bg-mall"><a href="#loanSearch" role="tab" data-toggle="tab" >搜贷款</a></li>
            </ul>
         </div>
        <div class="col-md-10 bg-white opacity-5 p20">
            <div class="tab-content">
                <div id="investSearch" class="tab-pane active">
                <div class="col-md-5">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-4 control-label">P2P平台:</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                  <option>不限</option>
                                  <option>陆金所</option>
                                  <option>人人贷</option>
                                  <option>有利网</option>
                                  <option>合盘贷</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">投资金额:</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                  <option>不限</option>
                                  <option>1万以下</option>
                                  <option>1万-5万</option>
                                  <option>5万-10万</option>
                                  <option>10万-30万</option>
                                  <option>30万以上</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">投资期限:</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                  <option>不限</option>
                                  <option>1月-3月</option>
                                  <option>3月-6月</option>
                                  <option>6月-12月</option>
                                  <option>12月-24月</option>
                                  <option>24个月以上</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">期望收益:</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                  <option>不限</option>
                                  <option>5%以下</option>
                                  <option>5%-8%</option>
                                  <option>8%-12%</option>
                                  <option>12%-20%</option>
                                  <option>20%以上</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">&nbsp;</label>
                            <div class="col-md-8">
                                <p><a href="invest" class="btn bg-mall c-eee w180" role="button">试试看</a></p>
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="col-md-7">
                        <img src="../images/ad2.jpg"/>
                    </div>
                </div>
                <div id="loanSearch" class="tab-pane">
                    <div class="col-md-5">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-4 control-label">P2P平台:</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                  <option>不限</option>
                                  <option>1万以下</option>
                                  <option>1万-5万</option>
                                  <option>5万-10万</option>
                                  <option>10万-30万</option>
                                  <option>30万以上</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">贷款金额:</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                  <option>不限</option>
                                  <option>一万以下</option>
                                  <option>一万至五万</option>
                                  <option>五万至十万</option>
                                  <option>十万以上</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">贷款期限:</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                  <option>不限</option>
                                  <option>1月-3月</option>
                                  <option>3月-6月</option>
                                  <option>6月-12月</option>
                                  <option>12月-24月</option>
                                  <option>24个月以上</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">&nbsp;</label>
                            <div class="col-md-8">
                                <p><a href="loan" class="btn bg-mall c-eee w180" role="button">试试看</a></p>
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="col-md-7">
                        <img src="../images/ad1.jpg"/>
                    </div>
                </div>
                </div>
            </div>
            </div>
</div>
<div class="row bg-container">
    <div class="hot-container mb10">
        <ul class="nav nav-tabs bg-mall-shade" role="tablist">
            <li class="active mt10 ml30"><a href="#invest" role="tab" data-toggle="tab" class="c-eee">热门投资</a></li>
            <li class="mt10"><a href="#loan" role="tab" data-toggle="tab" class="c-eee">热门贷款</a></li>
        </ul>
        <div class="tab-content list-content bg-white">
            <div class="tab-pane active" id="invest" ng-controller="hotController">
                <div class="row p25">
                    <div class="col-md-4 p20" ng-repeat="hotInvest in hotInvests">
                        <div class="thumbnail mb0">
                            <div class="page-header m10 text-left">
                                <img alt="陆金所" src="../images/{{hotInvest.company}}.jpg">
                            </div>
                            <div class="c-aaa m15">
                                <p>{{hotInvest.name}}</p>

                                <p><span class="c-base f20">{{hotInvest.time}}</span>个月</p>

                                <p>预期收益<span class="c-base f20">{{hotInvest.description}}</span></p>

                                <p><span class="c-base f20">{{hotInvest.amount|number}}</span>元</p>

                                <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="loan" ng-controller="hotController">
                <div class="row p25">
                    <div class="col-md-4 p20" ng-repeat="hotLoan in hotLoans">
                        <div class="thumbnail mb0">
                            <div class="page-header m10 text-left">
                                <img alt="陆金所" src="../images/{{hotLoan.company}}.jpg">
                            </div>
                            <div class="c-aaa m15">
                                <p>{{hotLoan.name}}</p>

                                <p><span class="c-base f20">{{hotLoan.time}}</span>个月</p>

                                <p>预期收益<span class="c-base f20">{{hotLoan.description}}</span></p>

                                <p><span class="c-base f20">{{hotLoan.amount|number}}</span>元</p>

                                <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/angular/angular.js"></script>
<script src="/javascripts/index/index.js"></script>
<% include footer.ejs %>
