<% include link.ejs %>
<% include header.ejs %>
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1">
                <div class="navbar-header logo-text">
                    <a class="navbar-brand" href="/">
                        <img alt="logo" src="../images/logo.jpg"/>
                        <span class="h2">贷款商城</span>
                    </a>
                    <span class="h6 text-muted">P2P一站通</span>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 menu">
                <ul class="nav nav-pills h5" role="tablist">
                    <li role="presentation"><a href="/">首页</a></li>
                    <li role="presentation" class="active"><a href="invest">我要投资</a></li>
                    <li role="presentation"><a href="loan">我要贷款</a></li>
                    <li role="presentation" class="visible-lg"><a href="loan">行业新闻</a></li>
                </ul>
            </div>
            <div class="nav-img col-md-offset-9 visible-lg visible-md"></div>
        </div>
    </div>
</nav>
<div class="row">
    <div class="container-fluid">
        <div class="row invest-search-bg" style="height: 350px">
            <div class="col-9 col-sm-9 col-lg-9 col-lg-offset-2">
                <div class="ui-filter fn-left mt50" id="invest-list-filter">
                    <div class="ui-filter-header mb10">
                        <h4 class="search-white-text" >筛选投资项目</h4>
                    </div>
                    <ul >
                        <li>
                            <ul class="ui-filter-category category fn-clear">
                                <li class="ui-filter-title search-white-text">P2P平台</li>
                                <li class="ui-filter-tag  search-gray-text  all active">
                                    <input type="checkbox" name="investPlatform" value="all" checked="checked">
                                    <span>不限</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investPlatform" >
                                    <span>陆金所</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investPlatform" >
                                    <span>人人贷</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investPlatform" >
                                    <span>宜人贷</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investPlatform" >
                                    <span>拍拍贷</span>
                                </li>
                            </ul>
                        </li>
                        <li class="mt4">
                            <ul class="ui-filter-category category fn-clear">
                                <li class="ui-filter-title search-white-text">投资金额</li>
                                <li class="ui-filter-tag  search-gray-text  all active">
                                    <input type="checkbox" name="investAmount" value="all" checked="checked">
                                    <span>不限</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investAmount" >
                                    <span>1万以下</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investAmountm" >
                                    <span>1万-5万</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investAmount" >
                                    <span>5万-10万</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investAmount" >
                                    <span>10万-20万</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investAmount" >
                                    <span>20万-30万</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investAmount" >
                                    <span>30万以上</span>
                                </li>
                            </ul>
                        </li>
                        <li class="mt4">
                            <ul class="ui-filter-category category fn-clear">
                                <li class="ui-filter-title search-white-text">投资期限</li>
                                <li class="ui-filter-tag  search-gray-text  all active">
                                    <input type="checkbox" name="investTerm" value="all" checked="checked">
                                    <span>不限</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investTerm" >
                                    <span>1月-3月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investTerm" >
                                    <span>3月-6月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investTerm" >
                                    <span>6月-12月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investTerm" >
                                    <span>12月-24月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investTerm" >
                                    <span>24月-48月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investTerm" >
                                    <span>48个月以上</span>
                                </li>
                            </ul>
                        </li>
                        <li class="mt4">
                            <ul class="ui-filter-category category fn-clear">
                                <li class="ui-filter-title search-white-text">期望收益</li>
                                <li class="ui-filter-tag  search-gray-text  all active">
                                    <input type="checkbox" name="investYield" value="all" checked="checked">
                                    <span>不限</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investYield" >
                                    <span>5%以下</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investYield" >
                                    <span>5%-8%</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investYield" >
                                    <span>8%-12%</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investYield" >
                                    <span>12%-20%</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="investYield" >
                                    <span>20%以上</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-lg-4 bg-danger">
                <h3>陆金所</h3>

                <p>富盈人生第14期</p>

                <p>24个月</p>

                <p>
                            <span class="label label-danger">
                                预期收益18%
                            </span>
                </p>

                <p>30，000元</p>

                <p>
                    <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4 bg-success">
                <h3>人人贷</h3>

                <p>资金周转</p>

                <p>18个月</p>

                <p>
                            <span class="label label-danger">
                                预期收益13.2%
                            </span>
                </p>

                <p>10,000元</p>

                <p>
                    <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4 bg-warning">
                <h3>天天贷</h3>

                <p>月月盈</p>

                <p>1个月</p>

                <p>
                            <span class="label label-danger">
                                预期收益20%
                            </span>
                </p>

                <p>50,000元</p>

                <p>
                    <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4 bg-warning">
                <h3>陆金所</h3>

                <p>季季盈</p>

                <p>3个月</p>

                <p>
                            <span class="label label-info">
                                预期收益15%
                            </span>
                </p>

                <p>100，000元</p>

                <p>
                    <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4 bg-info">
                <h3>陆金所</h3>

                <p>年年盈</p>

                <p>12个月</p>

                <p>
                            <span class="label label-info">
                                预期收益5%
                            </span>
                </p>

                <p>100，000元</p>

                <p>
                    <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                </p>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
