<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-theme.css"/>
    <script src="/javascripts/jquery/jquery.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">借贷商城</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="invest">我要投资</a></li>
                    <li class="active"><a href="loan">我要贷款</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </nav>
    <ol class="breadcrumb">
        <li><a href="#">借贷商城</a></li>
        <li class="active"><a href="loan">我要贷款</a></li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-9">
                <div class="row ">
                    <div class="">
                        P2P平台:
                        <span class="label label-success">不限</span>
                        <span class="label label-success">陆金所</span>
                    </div>
                    <div>
                        贷款金额:
                        <span class="label label-success">不限</span>
                        <span class="label label-success">10000~50000</span>
                    </div>
                    <div>
                        贷款期限:
                        <span class="label label-success">不限</span>
                        <span class="label label-success">1月~3月</span>
                    </div>
                    <div>
                        职业身份:
                        <span class="label label-success">不限</span>
                        <span class="label label-success">企业</span>
                        <span class="label label-success">个体户</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-lg-4 bg-danger">
                        <h3>陆金所</h3>

                        <p>富盈人生第14期</p>

                        <p>24个月</p>

                        <p>
                            <span class="label label-danger">
                                预期收益18%
                            </span>
                        </p>

                        <p>30，000元</p>

                        <p>
                            <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                        </p>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4 bg-success">
                        <h3>人人贷</h3>

                        <p>资金周转</p>

                        <p>18个月</p>

                        <p>
                            <span class="label label-danger">
                                预期收益13.2%
                            </span>
                        </p>

                        <p>10,000元</p>

                        <p>
                            <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                        </p>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4 bg-warning">
                        <h3>天天贷</h3>

                        <p>月月盈</p>

                        <p>1个月</p>

                        <p>
                            <span class="label label-danger">
                                预期收益20%
                            </span>
                        </p>

                        <p>50,000元</p>

                        <p>
                            <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                        </p>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4 bg-warning">
                        <h3>陆金所</h3>

                        <p>季季盈</p>

                        <p>3个月</p>

                        <p>
                            <span class="label label-info">
                                预期收益15%
                            </span>
                        </p>

                        <p>100，000元</p>

                        <p>
                            <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                        </p>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4 bg-info">
                        <h3>陆金所</h3>

                        <p>年年盈</p>

                        <p>12个月</p>

                        <p>
                            <span class="label label-info">
                                预期收益5%
                            </span>
                        </p>

                        <p>100，000元</p>

                        <p>
                            <button name="buy" class="btn btn-primary btn-xs" role="button">购买</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3" id="sidebar" role="navigation">

            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; Company 2014</p>
        </footer>
    </div>
</div>
</body>
</html>
