<% include link.ejs %>
<% include header.ejs %>
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1">
                <div class="navbar-header logo-text">
                    <a class="navbar-brand" href="/">
                        <img alt="logo" src="../images/logo.jpg"/>
                        <span class="h3">借贷商城</span>
                    </a>
                    <span class="h6 text-muted">P2P一站通</span>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 menu">
                <ul class="nav nav-pills h5" role="tablist">
                    <li role="presentation"><a href="/">首页</a></li>
                    <li role="presentation"><a href="invest">我要投资</a></li>
                    <li role="presentation" class="active"><a href="loan">我要贷款</a></li>
                    <li role="presentation" class="visible-lg"><a href="loan">行业新闻</a></li>
                </ul>
            </div>
            <div class="nav-img col-md-offset-9 visible-lg visible-md"></div>
        </div>
    </div>
</nav>
<div class="row">
    <div class="container-fluid">
        <div class="row loan-search-bg" style="height: 350px">
            <div class="col-9 col-sm-9 col-lg-9 col-lg-offset-2">
                <div class="ui-filter fn-left mt50" id="loan-list-filter">
                    <div class="ui-filter-header mb10">
                        <h4 class="search-white-text" >筛选贷款项目</h4>
                    </div>
                    <ul >
                        <li>
                            <ul class="ui-filter-category category fn-clear">
                                <li class="ui-filter-title search-white-text">P2P平台</li>
                                <li class="ui-filter-tag  search-gray-text  all active">
                                    <input type="checkbox" name="loanPlatform" value="all" checked="checked">
                                    <span>不限</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanPlatform" >
                                    <span>陆金所</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanPlatform" >
                                    <span>人人贷</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanPlatform" >
                                    <span>宜人贷</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanPlatform" >
                                    <span>拍拍贷</span>
                                </li>
                            </ul>
                        </li>
                        <li class="mt4">
                            <ul class="ui-filter-category category fn-clear">
                                <li class="ui-filter-title search-white-text">投资金额</li>
                                <li class="ui-filter-tag  search-gray-text  all active">
                                    <input type="checkbox" name="loanAmount" value="all" checked="checked">
                                    <span>不限</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanAmount" >
                                    <span>1万以下</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanAmount" >
                                    <span>1万-5万</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanAmount" >
                                    <span>5万-10万</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanAmount" >
                                    <span>10万-20万</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanAmount" >
                                    <span>20万-30万</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanAmount" >
                                    <span>30万以上</span>
                                </li>
                            </ul>
                        </li>
                        <li class="mt4">
                            <ul class="ui-filter-category category fn-clear">
                                <li class="ui-filter-title search-white-text">贷款期限</li>
                                <li class="ui-filter-tag  search-gray-text  all active">
                                    <input type="checkbox" name="loanTerm" value="all" checked="checked">
                                    <span>不限</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanTerm" >
                                    <span>1月-3月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanTerm" >
                                    <span>3月-6月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanTerm" >
                                    <span>6月-12月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanTerm" >
                                    <span>12月-24月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanTerm" >
                                    <span>24月-48月</span>
                                </li>
                                <li class="ui-filter-tag  search-gray-text condition ">
                                    <input type="checkbox" name="loanTerm" >
                                    <span>48个月以上</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row bg-container">
            <div class="search-result-tag"><h3><span class="label bg-mall">您好 xxx，找到<span class="c-yellow f25">&nbsp;6&nbsp;</span>个符合您期望的产品</span></h3></div>
            <div class="hot-container mb10 border-s-g-3 bg-white">
                <div class="row p25">
                    <div class="col-md-4 pl20 pr20 pt10 pb20">
                        <div class="thumbnail mb0">
                            <div class="page-header m10 text-left">
                                <img alt="陆金所" src="../images/lufax.jpg">
                            </div>
                            <div class="c-aaa m15">
                                <p>富盈人生第14期</p>
                                <p><span class="c-base f20">24</span>个月</p>
                                <p>
                                    预期收益<span class="c-base f20">18%</span>
                                </p>

                                <p><span class="c-base f20">30,000</span>元</p>
                                <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl20 pr20 pt10 pb20">
                        <div class="thumbnail mb0">
                            <div class="page-header m10 text-left">
                                <img alt="人人贷" src="../images/renrendai.jpg">
                            </div>
                            <div class="c-aaa m15">
                                <p>资金周转</p>
                                <p><span class="c-base f20">18</span>个月</p>
                                <p>
                                    预期收益<span class="c-base f20">13.2%</span>
                                </p>

                                <p><span class="c-base f20">10,000</span>元</p>
                                <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl20 pr20 pt10 pb20">
                        <div class="thumbnail mb0">
                            <div class="page-header m10 text-left">
                                <img alt="天天贷" src="../images/renrendai.jpg">
                            </div>
                            <div class="c-aaa m15">
                                <p>月月盈</p>
                                <p><span class="c-base f20">1</span>个月</p>
                                <p>
                                    预期收益<span class="c-base f20">20%</span>
                                </p>

                                <p><span class="c-base f20">50,000</span>元</p>
                                <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl20 pr20 pt10 pb20">
                        <div class="thumbnail mb0">
                            <div class="page-header m10 text-left">
                                <img alt="陆金所" src="../images/lufax.jpg">
                            </div>
                            <div class="c-aaa m15">
                                <p>富盈人生第14期</p>
                                <p><span class="c-base f20">24</span>个月</p>
                                <p>
                                    预期收益<span class="c-base f20">18%</span>
                                </p>

                                <p><span class="c-base f20">30,000</span>元</p>
                                <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl20 pr20 pt10 pb20">
                        <div class="thumbnail mb0">
                            <div class="page-header m10 text-left">
                                <img alt="人人贷" src="../images/renrendai.jpg">
                            </div>
                            <div class="c-aaa m15">
                                <p>资金周转</p>
                                <p><span class="c-base f20">18</span>个月</p>
                                <p>
                                    预期收益<span class="c-base f20">13.2%</span>
                                </p>

                                <p><span class="c-base f20">10,000</span>元</p>
                                <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl20 pr20 pt10 pb20">
                        <div class="thumbnail mb0">
                            <div class="page-header m10 text-left">
                                <img alt="天天贷" src="../images/yooli.jpg">
                            </div>
                            <div class="c-aaa m15">
                                <p>月月盈</p>
                                <p><span class="c-base f20">1</span>个月</p>
                                <p>
                                    预期收益<span class="c-base f20">20%</span>
                                </p>

                                <p><span class="c-base f20">50,000</span>元</p>
                                <p class="text-center"><a href="#" class="btn bg-mall c-eee w100" role="button">购买</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
